node-red-cassandra.txt
[{"id":"67324e41.72168","type":"tab","label":"SmartStripPrototype","disabled":false,"info":""},{"id":"aa09131d.91081","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"projektpowerstripovi","tz":"","charset":"UTF8"},{"id":"d1ff8f8c.06e8","type":"MySQLdatabase","z":"","name":"smartstrip_db","host":"127.0.0.1","port":"3306","db":"smartstrip","tz":"","charset":"UTF8"},{"id":"bb2d9db4.789e2","type":"MySQLdatabase","z":"","name":"smartstrip_db","host":"127.0.0.1","port":"3306","db":"smartstrip","tz":"","charset":"UTF8"},{"id":"b27a8c7c.b1e92","type":"CassandraDatabase","z":"","hosts":"localhost","port":"","keyspace":"projektpowerstripovi","localDataCenter":""},{"id":"e7cf5aa2.1db118","type":"http in","z":"67324e41.72168","name":"","url":"/getStripStatus","method":"get","upload":false,"swaggerDoc":"","x":110,"y":380,"wires":[["6ab214b9.9b034c"]]},{"id":"6ab214b9.9b034c","type":"function","z":"67324e41.72168","name":"","func":"//expects 'id' in GET\nif(msg.payload.id === undefined || msg.payload.id === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var id = msg.payload.id;\n    var sql = \"SELECT * FROM smartstrips_by_users WHERE id=\" + id + \" ALLOW FILTERING;\";\n    msg.topic = sql;\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":280,"y":380,"wires":[["3919bf69.9055e","95b0cb10.1faf98"],["4598eb4c.8d5c04","3919bf69.9055e"]]},{"id":"3919bf69.9055e","type":"debug","z":"67324e41.72168","name":"getStripStatus - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":340,"wires":[]},{"id":"4e0e445b.1d930c","type":"catch","z":"67324e41.72168","name":"","scope":null,"uncaught":true,"x":80,"y":280,"wires":[["b4134740.ca12c8","f704466e.847018"]]},{"id":"b4134740.ca12c8","type":"http response","z":"67324e41.72168","name":"","statusCode":"500","headers":{},"x":280,"y":320,"wires":[]},{"id":"742adb1c.fb1f64","type":"http in","z":"67324e41.72168","name":"","url":"/switchMasterState","method":"post","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["c2e364af.009f08"]]},{"id":"f704466e.847018","type":"debug","z":"67324e41.72168","name":"catch - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":280,"wires":[]},{"id":"15d37d2e.e57063","type":"http in","z":"67324e41.72168","name":"","url":"/switchState","method":"post","upload":false,"swaggerDoc":"","x":110,"y":700,"wires":[["41696dcf.43ca44"]]},{"id":"6ff0b51a.e00dac","type":"http in","z":"67324e41.72168","name":"","url":"/switchIsPlugged","method":"post","upload":false,"swaggerDoc":"","x":120,"y":860,"wires":[["f60ea409.a16a48"]]},{"id":"8241131f.80648","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload.length === 0){\n    msg.statusCode = 500;\n    msg.payload = \"Device not found\";\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":380,"wires":[["4598eb4c.8d5c04","d01a042f.b724f8"]]},{"id":"4598eb4c.8d5c04","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":410,"y":420,"wires":[]},{"id":"d01a042f.b724f8","type":"debug","z":"67324e41.72168","name":"getStripStatus - debug response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":340,"wires":[]},{"id":"c2e364af.009f08","type":"function","z":"67324e41.72168","name":"","func":"//expected smartStrip 'id'\nvar sql=\"\";\nif(msg.payload.id === undefined || msg.payload.id === \"\" || msg.payload.userID === undefined || msg.payload.userID === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var userID = msg.payload.userID;\n    var id = msg.payload.id;\n    var masterState = msg.payload.masterState;\n    if(masterState === true){\n        sql = \"UPDATE smartstrips_by_users SET masterState = false WHERE userID = \" + userID + \" AND id = \" + id + \";\";  \n    }\n    else{\n        sql = \"UPDATE smartstrips_by_users SET masterState = true WHERE userID = \" + userID + \" AND id = \" + id + \";\"; \n    }\n    sql += \"SELECT * FROM smartstrips_by_users WHERE id = \" + id + \" ALLOW FILTERING;\\n\";\n    msg.topic = sql;\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":320,"y":540,"wires":[["fac43587.892478","7df03e85.ff0f2"],["4b3e28b4.4344c8","fac43587.892478"]]},{"id":"4b3e28b4.4344c8","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":450,"y":580,"wires":[]},{"id":"fac43587.892478","type":"debug","z":"67324e41.72168","name":"switchMasterState - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":500,"wires":[]},{"id":"4a0b0786.9efc58","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload[0].affectedRows === 0){\n    //if no changes occured, something went wrong\n    msg.statusCode = 500;\n    msg.payload = \"No device found...\";\n    return msg;\n} else {\n    //return second element only on success\n    msg.payload = msg.payload[1];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":540,"wires":[["ec20a0b9.f374f","4b3e28b4.4344c8"]]},{"id":"ec20a0b9.f374f","type":"debug","z":"67324e41.72168","name":"switchMasterState - debug response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":500,"wires":[]},{"id":"41696dcf.43ca44","type":"function","z":"67324e41.72168","name":"","func":"//expected plug 'id'\nvar sql=\"\";\nif(msg.payload.id === undefined || msg.payload.id === \"\" || msg.payload.smartstripID === undefined || msg.payload.smartstripID === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var smartstripID = msg.payload.smartstripID;\n    var id = msg.payload.id;\n    var state = msg.payload.state;\n    if(state === true){\n        sql = \"UPDATE plugs_by_smartstrips SET state = false WHERE smartstripID = \" + smartstripID + \" AND id = \" + id + \";\";  \n    }\n    else{\n        sql = \"UPDATE plugs_by_smartstrips SET state = true WHERE smartstripID = \" + smartstripID + \" AND id = \" + id + \";\";\n    }\n    //do not reveal physical states to frontend, unless specified otherwise\n    sql += \"SELECT id,state,powerDraw,smartstripID FROM plugs_by_smartstrips WHERE id = \" + id + \" ALLOW FILTERING;\\n\";\n    msg.topic = sql;\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":260,"y":700,"wires":[["82ff3b46.a328b8","d9c1f0cd.3765f"],["6540950f.0fd4fc","82ff3b46.a328b8"]]},{"id":"82ff3b46.a328b8","type":"debug","z":"67324e41.72168","name":"switchState - debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":640,"wires":[]},{"id":"6540950f.0fd4fc","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":410,"y":740,"wires":[]},{"id":"734163f2.a8348c","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload[0].affectedRows === 0){\n    //if no changes occured, something went wrong\n    msg.statusCode = 500;\n    msg.payload = \"No device found...\";\n    return msg;\n} else {\n    //return second element only on success\n    msg.payload = msg.payload[1];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":700,"wires":[["6540950f.0fd4fc","818402c1.7c31b"]]},{"id":"818402c1.7c31b","type":"debug","z":"67324e41.72168","name":"switchState - debug response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":640,"wires":[]},{"id":"f60ea409.a16a48","type":"function","z":"67324e41.72168","name":"","func":"//expected plug 'id'\nvar sql=\"\";\nif(msg.payload.id === undefined || msg.payload.id === \"\" || msg.payload.smartstripID === undefined || msg.payload.smartstripID === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var smartstripID = msg.payload.smartstripID;\n    var id = msg.payload.id;\n    var state = msg.payload.state;\n    if(state===true){\n       sql = \"UPDATE plugs_by_smartstrips SET isPlugged = false WHERE smartstripID = \" + smartstripID + \" AND id = \" + id + \";\"; \n    }\n    else{\n       sql = \"UPDATE plugs_by_smartstrips SET isPlugged = true WHERE smartstripID = \" + smartstripID + \" AND id = \" + id + \";\"; \n    }\n\n    sql += \"SELECT id,state,powerDraw,smartstripID FROM plugs_by_smartstrips WHERE id = \" + id + \" ALLOW FILTERING;\\n\";\n    msg.topic = sql;\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":300,"y":860,"wires":[["f3818d99.34a91","eddbc940.594cc8"],["15a341eb.b4bd3e","f3818d99.34a91"]]},{"id":"c91b237d.5a617","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload[0].affectedRows === 0){\n    //if no changes occured, something went wrong\n    msg.statusCode = 500;\n    msg.payload = \"No device found...\";\n    return msg;\n} else {\n    //return second element only on success\n    msg.payload = msg.payload[1];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":860,"wires":[["15a341eb.b4bd3e","13478c54.a737f4"]]},{"id":"f3818d99.34a91","type":"debug","z":"67324e41.72168","name":"switchIsPlugged - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":820,"wires":[]},{"id":"13478c54.a737f4","type":"debug","z":"67324e41.72168","name":"switchIsPlugged - response debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":820,"wires":[]},{"id":"15a341eb.b4bd3e","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":430,"y":900,"wires":[]},{"id":"ac6c3f93.75c0a","type":"http in","z":"67324e41.72168","name":"","url":"/switchIsPluggedActive","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1020,"wires":[["209b1dfa.319242"]]},{"id":"209b1dfa.319242","type":"function","z":"67324e41.72168","name":"","func":"//expected plug 'id'\nvar sql=\"\";\nif(msg.payload.id === undefined || msg.payload.id === \"\" || msg.payload.smartstripID === undefined || msg.payload.smartstripID === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var smartstripID = msg.payload.smartstripID;\n    var id = msg.payload.id;\n    var state = msg.payload.state;\n    if(state===true){\n       sql = \"UPDATE plugs_by_smartstrips SET isPluggedActive = false WHERE smartstripID = \" + smartstripID + \" AND id = \" + id + \";\"; \n    }\n    else{\n        sql = \"UPDATE plugs_by_smartstrips SET isPluggedActive = true WHERE smartstripID = \" + smartstripID + \" AND id = \" + id + \";\";\n    }\n    //do not reveal physical states to frontend, unless specified otherwise\n    sql += \"SELECT id,state,powerDraw,smartstripID FROM plugs_by_smartstrips WHERE id = \" + id + \" ALLOW FILTERING;\\n\";\n    msg.topic = sql;\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":1020,"wires":[["b485b52d.75ebc8","2a2cc2a8.734b9e"],["5996fa3d.1ac5e4","b485b52d.75ebc8"]]},{"id":"28b811d.f73e7ee","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload[0].affectedRows === 0){\n    //if no changes occured, something went wrong\n    msg.statusCode = 500;\n    msg.payload = \"No device found...\";\n    return msg;\n} else {\n    //return second element only on success\n    msg.payload = msg.payload[1];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1020,"wires":[["5996fa3d.1ac5e4","f329428a.5b31e"]]},{"id":"b485b52d.75ebc8","type":"debug","z":"67324e41.72168","name":"switchIsPluggedActive - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":980,"wires":[]},{"id":"f329428a.5b31e","type":"debug","z":"67324e41.72168","name":"switchIsPluggedActive - response debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":980,"wires":[]},{"id":"5996fa3d.1ac5e4","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":470,"y":1060,"wires":[]},{"id":"a064a815.362e98","type":"http in","z":"67324e41.72168","name":"","url":"/verifyUser","method":"post","upload":false,"swaggerDoc":"","x":1120,"y":280,"wires":[["ecefd6b9.71a438"]]},{"id":"10246c88.a32373","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":1410,"y":320,"wires":[]},{"id":"ecefd6b9.71a438","type":"function","z":"67324e41.72168","name":"","func":"//expected username and password\nif(msg.payload.username === undefined || msg.payload.username === \"\" || msg.payload.password === undefined || msg.payload.password === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var username = msg.payload.username;\n    var password = msg.payload.password;//TODO: legitimate password handling, right now it's saved as plaintext\n    var sql = \"SELECT id, username FROM users WHERE username = '\" + username + \"' AND password = '\" + password + \"' ALLOW FILTERING;\";\n    msg.topic = sql;\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1280,"y":280,"wires":[["2ba13d35.8f5702","c1504710.cb7ec8"],["10246c88.a32373","2ba13d35.8f5702"]]},{"id":"2ba13d35.8f5702","type":"debug","z":"67324e41.72168","name":"verifyUser - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":240,"wires":[]},{"id":"252610a8.048cf","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload.length === 0){\n    //user does not exist, abortus\n    msg.statusCode = 500;\n    msg.payload = \"User does not exist\";\n    return msg;\n} //otherwise, return full user object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":280,"wires":[["93e9fb3b.49b9c8","10246c88.a32373"]]},{"id":"93e9fb3b.49b9c8","type":"debug","z":"67324e41.72168","name":"verifyUser - response debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1800,"y":240,"wires":[]},{"id":"80d7b06c.af29b","type":"http in","z":"67324e41.72168","name":"","url":"/addUser","method":"post","upload":false,"swaggerDoc":"","x":1120,"y":440,"wires":[["f69c9fcb.4f1da"]]},{"id":"f69c9fcb.4f1da","type":"function","z":"67324e41.72168","name":"","func":"//expected username, password\nif(msg.payload.username === undefined || msg.payload.username === \"\" || msg.payload.password === undefined || msg.payload.password === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var username = msg.payload.username;\n    var password = msg.payload.password;\n    //TODO: smarter insertion\n    var sql = \"INSERT INTO users (id, username, password) VALUES (uuid(),'\"+username+\"','\"+password+\"');\";\n    msg.topic = sql;\n}\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1280,"y":440,"wires":[["21afb243.8881de","e7da568b.11d0d8"],["d4722197.37ae3","21afb243.8881de"]]},{"id":"21afb243.8881de","type":"debug","z":"67324e41.72168","name":"addUser - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":380,"wires":[]},{"id":"d251480b.5ef7f8","type":"debug","z":"67324e41.72168","name":"addUser - response debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1700,"y":360,"wires":[]},{"id":"cda5767c.ea4678","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload.affectedRows === undefined || msg.payload.affectedRows === 0){\n    //no user was added, report error\n    msg.statusCode = 500;\n    msg.payload =\"ERROR\";\n    return msg;\n} else {\n    msg.payload = \"OK\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":440,"wires":[["d4722197.37ae3","d251480b.5ef7f8"]]},{"id":"d4722197.37ae3","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":1410,"y":480,"wires":[]},{"id":"d0f8f792.8e6048","type":"catch","z":"67324e41.72168","name":"","scope":["e7da568b.11d0d8"],"uncaught":false,"x":1530,"y":480,"wires":[["80142b09.bdeac8","d251480b.5ef7f8"]]},{"id":"80142b09.bdeac8","type":"function","z":"67324e41.72168","name":"","func":"msg.statusCode = 500;\nmsg.payload = \"USER_ALREADY_PRESENT\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":480,"wires":[["d4722197.37ae3","d251480b.5ef7f8"]]},{"id":"c87f1131.5f4ce","type":"http in","z":"67324e41.72168","name":"","url":"/getSmartStripsByUserID","method":"get","upload":false,"swaggerDoc":"","x":1170,"y":600,"wires":[["f561a97a.200cd8","1e3d2ccf.302ab3"]]},{"id":"f561a97a.200cd8","type":"function","z":"67324e41.72168","name":"","func":"//expected owner id\nconsole.log(msg.payload);\nif(msg.payload.id === undefined || msg.payload.id === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var id = msg.payload.id;\n    var sql = \"SELECT * FROM smartstrips_by_users WHERE userID = '\" + id + \"';\";\n    msg.topic = sql;\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1380,"y":600,"wires":[["fc5b1fba.77dc2","ddaf65a0.d5db18"],["9a6b154c.0e5dd8","fc5b1fba.77dc2"]]},{"id":"8ca6aba8.747c68","type":"function","z":"67324e41.72168","name":"","func":"//even if empty return it, since new users have no strips\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":600,"wires":[["c3e47166.7015f","9a6b154c.0e5dd8"]]},{"id":"fc5b1fba.77dc2","type":"debug","z":"67324e41.72168","name":"getSmartStripsByUserID - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":560,"wires":[]},{"id":"c3e47166.7015f","type":"debug","z":"67324e41.72168","name":"getSmartStripsByUserID - response debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1950,"y":560,"wires":[]},{"id":"9a6b154c.0e5dd8","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":1510,"y":640,"wires":[]},{"id":"59494002.32c85","type":"http in","z":"67324e41.72168","name":"","url":"/getPlugsBySmartStripID","method":"get","upload":false,"swaggerDoc":"","x":1160,"y":760,"wires":[["b6bc9f7a.97766"]]},{"id":"52d2c324.8f1d0c","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":1490,"y":800,"wires":[]},{"id":"6756c307.0a83bc","type":"function","z":"67324e41.72168","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":760,"wires":[["45715df0.4e85b4","52d2c324.8f1d0c"]]},{"id":"d5ee3c08.3222f","type":"debug","z":"67324e41.72168","name":"getPlugsBySmartStripID - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1580,"y":720,"wires":[]},{"id":"45715df0.4e85b4","type":"debug","z":"67324e41.72168","name":"getPlugsBySmartStripID - response debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1930,"y":720,"wires":[]},{"id":"874f0fe5.7b203","type":"http in","z":"67324e41.72168","name":"","url":"/addSmartStrip","method":"post","upload":false,"swaggerDoc":"","x":1140,"y":920,"wires":[["c90d34fe.3171c8"]]},{"id":"c90d34fe.3171c8","type":"function","z":"67324e41.72168","name":"","func":"//expected ownerID, numOfPlugs; name is optional\nif(msg.payload.ownerID === undefined || msg.payload.ownerID === \"\" || msg.payload.numOfPlugs === undefined || msg.payload.numOfPlugs === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var name = msg.payload.name;\n    if(msg.payload.name === undefined || msg.payload.name === \"\"){\n        name = \"\";\n    }\n    var ownerID = msg.payload.ownerID;\n    var numOfPlugs = msg.payload.numOfPlugs;\n    var sql = \"INSERT INTO smartstrips_by_users (numOfPlugs, masterState, name, owner) VALUES ('\" + numOfPlugs + \"',0,'\" + name + \"','\"+ownerID+\"');\";\n    msg.topic = sql;\n}\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1320,"y":920,"wires":[["15281f7e.097401","ec77de71.7cd48"],["c1eb0d6d.1048","ec77de71.7cd48"]]},{"id":"62aa305a.6dae7","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload.affectedRows === undefined || msg.payload.affectedRows === 0){\n    msg.statusCode = 500;\n    msg.payload = \"Error in server\";\n    return msg;\n} else {\n    msg.payload = \"OK\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":920,"wires":[["f8f83baa.d10448","c1eb0d6d.1048"]]},{"id":"15281f7e.097401","type":"mysql","z":"67324e41.72168","mydb":"aa09131d.91081","name":"","x":1500,"y":920,"wires":[["62aa305a.6dae7"]]},{"id":"c1eb0d6d.1048","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":1450,"y":960,"wires":[]},{"id":"ec77de71.7cd48","type":"debug","z":"67324e41.72168","name":"addSmartStrip - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":880,"wires":[]},{"id":"f8f83baa.d10448","type":"debug","z":"67324e41.72168","name":"addSmartStrip - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":880,"wires":[]},{"id":"b8d583e.f9e1d8","type":"http in","z":"67324e41.72168","name":"","url":"/getPlugStatus","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1180,"wires":[["c2edd5a9.d97cd8"]]},{"id":"1daeb3de.99a52c","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":410,"y":1220,"wires":[]},{"id":"c2edd5a9.d97cd8","type":"function","z":"67324e41.72168","name":"","func":"//expects 'id' in GET\nif(msg.payload.id === undefined || msg.payload.id === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var id = msg.payload.id;\n    var sql = \"SELECT id,state,powerDraw,smartstripID FROM plugs_by_smartstrips WHERE id=\" + id + \" ALLOW FILTERING;\";\n    msg.topic = sql;\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":280,"y":1180,"wires":[["5a4ddf04.6b1ab","f58da3b2.0fc8"],["1daeb3de.99a52c","5a4ddf04.6b1ab"]]},{"id":"831756b9.25a758","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload.length === 0){\n    msg.statusCode = 500;\n    msg.payload = \"Device not found\";\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1180,"wires":[["1daeb3de.99a52c","a5f2254e.6963f8"]]},{"id":"5a4ddf04.6b1ab","type":"debug","z":"67324e41.72168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":1140,"wires":[]},{"id":"a5f2254e.6963f8","type":"debug","z":"67324e41.72168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":1140,"wires":[]},{"id":"b5dc3095.118e2","type":"inject","z":"67324e41.72168","d":true,"name":"periodicRandomizeVampireDraw","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":"0.5","topic":"","payload":"ayy","payloadType":"str","x":180,"y":20,"wires":[["e156fde3.1069"]]},{"id":"e156fde3.1069","type":"function","z":"67324e41.72168","name":"","func":"//when triggered, get count of plugs, get that many random numbers\n//and using one sql query set all new elements\n//note: the inner SELECT will always select one thing only since there is only one owner with that id\nvar sql = \"SELECT id, masterState FROM smartstrips_by_users;\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":60,"wires":[["af120f7a.832bd"]]},{"id":"fbc62f5e.9dca7","type":"random","z":"67324e41.72168","name":"","low":"0.1","high":"1.9","inte":"false","property":"payload.newDraw","x":240,"y":180,"wires":[["ff33b409.f10e78"]]},{"id":"ee0f24d5.e28328","type":"debug","z":"67324e41.72168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":40,"wires":[]},{"id":"cbcbc150.52133","type":"debug","z":"67324e41.72168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"ff33b409.f10e78","type":"function","z":"67324e41.72168","name":"","func":"//expected array of objects\nif(msg.payload.length === undefined || msg.payload.length === 0){\n    //if no such smartstrips are found\n    msg.payload = \"No smartstrips found\";\n    return [null,msg];\n} else {\n    var obj = msg.topic;\n    var sql = \"UPDATE plugs_by_smartstrips SET powerDraw = '\" + obj.newDraw.toFixed(1) +\" WHERE smartstripID = \" + msg.temp1 +\" AND id =\" + obj.id +\";\";\n}\n\nreturn;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":200,"wires":[["6d8cc1d5.f0c67"]]},{"id":"58dffbd2.505a34","type":"debug","z":"67324e41.72168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1410,"y":120,"wires":[]},{"id":"93881d72.9caaa","type":"mysql","z":"67324e41.72168","mydb":"aa09131d.91081","name":"","x":1440,"y":160,"wires":[["58dffbd2.505a34"]]},{"id":"1e3d2ccf.302ab3","type":"debug","z":"67324e41.72168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":560,"wires":[]},{"id":"91c7a039.53e71","type":"http in","z":"67324e41.72168","name":"","url":"/deleteSmartStrip","method":"post","upload":false,"swaggerDoc":"","x":1140,"y":1080,"wires":[["b80c5070.352a3"]]},{"id":"b80c5070.352a3","type":"function","z":"67324e41.72168","name":"","func":"//expected smartStrip id, ownerID\nif(msg.payload.ownerID === undefined || msg.payload.ownerID === \"\" || msg.payload.id === undefined || msg.payload.id === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var ownerID = msg.payload.ownerID;\n    var id = msg.payload.id;\n    var sql = \"DELETE FROM smartstrips WHERE id='\" + id + \"' AND owner='\" + ownerID + \"';\";\n    msg.topic = sql;\n}\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1080,"wires":[["fd2b8b6f.544c08","cd5c6f86.23f0f"],["f28f45b6.96b308","cd5c6f86.23f0f"]]},{"id":"f28f45b6.96b308","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":1450,"y":1120,"wires":[]},{"id":"fd2b8b6f.544c08","type":"mysql","z":"67324e41.72168","mydb":"aa09131d.91081","name":"","x":1500,"y":1080,"wires":[["450294eb.a5cd7c"]]},{"id":"cd5c6f86.23f0f","type":"debug","z":"67324e41.72168","name":"deleteSmartStrip - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":1040,"wires":[]},{"id":"450294eb.a5cd7c","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload.affectedRows === undefined || msg.payload.affectedRows === 0){\n    msg.statusCode = 500;\n    msg.payload = \"Error in server\";\n    return msg;\n} else {\n    msg.payload = \"OK\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":1080,"wires":[["12123735.86fe89","f28f45b6.96b308"]]},{"id":"12123735.86fe89","type":"debug","z":"67324e41.72168","name":"deleteSmartStrip - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":1040,"wires":[]},{"id":"3550068a.fd663a","type":"http in","z":"67324e41.72168","name":"","url":"/getSmartstripConsumption","method":"get","upload":false,"swaggerDoc":"","x":1150,"y":1220,"wires":[["fa43ed7.7b91e1"]]},{"id":"fa43ed7.7b91e1","type":"function","z":"67324e41.72168","name":"","func":"//expected smartStrip id, ownerID\nif(msg.payload.id === undefined || msg.payload.id === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var id = msg.payload.id;\n    var sql = \"SELECT SUM(powerDraw) as sum from plugs WHERE owner='\" + id + \"' AND state='1';\";\n    msg.topic = sql;\n}\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1220,"wires":[["f23d38d1.2e88b8","1fb7d67.b31592a"],["f7736b9b.172a08","1fb7d67.b31592a"]]},{"id":"f7736b9b.172a08","type":"http response","z":"67324e41.72168","name":"","statusCode":"","headers":{},"x":1490,"y":1260,"wires":[]},{"id":"f23d38d1.2e88b8","type":"mysql","z":"67324e41.72168","mydb":"aa09131d.91081","name":"","x":1540,"y":1220,"wires":[["aae66cb2.95bb5"]]},{"id":"1fb7d67.b31592a","type":"debug","z":"67324e41.72168","name":"getTotalConsumption - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":1180,"wires":[]},{"id":"aae66cb2.95bb5","type":"function","z":"67324e41.72168","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":1220,"wires":[["712ecdb4.f5e4b4","f7736b9b.172a08"]]},{"id":"712ecdb4.f5e4b4","type":"debug","z":"67324e41.72168","name":"getTotalConsumption - debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1880,"y":1180,"wires":[]},{"id":"e7da568b.11d0d8","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":1440,"y":440,"wires":[["cda5767c.ea4678"]]},{"id":"c1504710.cb7ec8","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":1460,"y":280,"wires":[["252610a8.048cf"]]},{"id":"ddaf65a0.d5db18","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":1540,"y":600,"wires":[["8ca6aba8.747c68"]]},{"id":"b6bc9f7a.97766","type":"function","z":"67324e41.72168","name":"","func":"//expected smartStrip id\nif(msg.payload.id === undefined || msg.payload.id === \"\"){\n    msg.statusCode = 400;\n    msg.payload = \"Bad/No request data\";\n    return [null, msg];\n} else {\n    var id = msg.payload.id;\n    var sql = \"SELECT id,state,smartstripID,powerDraw FROM plugs_by_smartstrips WHERE smartstripID = '\" + id + \"';\";\n    msg.topic = sql;\n}\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1360,"y":760,"wires":[["d5ee3c08.3222f","dce10a67.a12988"],["52d2c324.8f1d0c","d5ee3c08.3222f"]]},{"id":"dce10a67.a12988","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":1540,"y":760,"wires":[["6756c307.0a83bc"]]},{"id":"95b0cb10.1faf98","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":460,"y":380,"wires":[["8241131f.80648"]]},{"id":"7df03e85.ff0f2","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":520,"y":540,"wires":[["4a0b0786.9efc58"]]},{"id":"d9c1f0cd.3765f","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":440,"y":700,"wires":[["734163f2.a8348c"]]},{"id":"eddbc940.594cc8","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":500,"y":860,"wires":[["c91b237d.5a617"]]},{"id":"2a2cc2a8.734b9e","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":540,"y":1020,"wires":[["28b811d.f73e7ee"]]},{"id":"f58da3b2.0fc8","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":480,"y":1180,"wires":[["831756b9.25a758"]]},{"id":"af120f7a.832bd","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":280,"y":60,"wires":[["b78b8d79.d5515"]]},{"id":"b78b8d79.d5515","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload.length === undefined || msg.payload.length === 0){\n    //if no such smartstrips are found\n    msg.payload = \"No smartstrips found\";\n    return [null,msg];\n} else {\n    var obj = msg.payload;\n    for(var i = 0; i < obj.length; i++){\n        msg.temp1=obj[i].id;\n        msg.temp2=obj[i].masterState;\n        var sql = \"SELECT * from plugs_by_smartstrips WHERE smartstripID =\"+obj[i].id+\";\";\n        msg.topic = sql;\n        node.send([msg,null],true);\n    }\n    node.done();\n}\nreturn;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":80,"y":100,"wires":[["f30fddeb.b2f14"],["91bd8159.65c81"]]},{"id":"f30fddeb.b2f14","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":280,"y":100,"wires":[["80be781.dbb5488"]]},{"id":"80be781.dbb5488","type":"function","z":"67324e41.72168","name":"","func":"if(msg.payload.length === undefined || msg.payload.length === 0){\n    //if no such smartstrips are found\n    msg.payload = \"No smartstrips found\";\n    return [null,msg];\n} else {\n    var obj = msg.payload;\n    for(var i = 0; i < obj.length; i++){\n        if(obj[i].state===false || msg.temp2 === false){\n            var sql=\"UPDATE plugs_by_smartstrips SET powerDraw = 0 WHERE smartstripID = \" + msg.temp1 +\" AND id =\" + obj[i].id +\";\";\n            msg.topic = sql;\n            node.send([msg,null,null,null],true);\n        }\n        else if(obj[i].isPlugged){\n            msg.topic=obj[i];\n            node.send([null,msg,null,null],true);\n        }\n        else if(obj[i].isPluggedActive){\n            msg.topic=obj[i];\n            node.send([null,null,msg,null],true);\n        }\n    }\n    node.done();\n}\nreturn;","outputs":4,"noerr":0,"initialize":"","finalize":"","x":60,"y":160,"wires":[["6d8cc1d5.f0c67"],["fbc62f5e.9dca7"],["70a73f4a.cca57"],["8b615728.614c68"]]},{"id":"6d8cc1d5.f0c67","type":"cassandra","z":"67324e41.72168","mydb":"b27a8c7c.b1e92","name":"","x":620,"y":180,"wires":[["cbcbc150.52133"]]},{"id":"70a73f4a.cca57","type":"random","z":"67324e41.72168","name":"","low":"10","high":"300","inte":"false","property":"payload.newDraw","x":240,"y":220,"wires":[["ff33b409.f10e78"]]},{"id":"91bd8159.65c81","type":"debug","z":"67324e41.72168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":140,"wires":[]},{"id":"8b615728.614c68","type":"debug","z":"67324e41.72168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":110,"y":220,"wires":[]}]